@mixin sectionStyle {
    display: flex;
    flex-direction: column;
    
    div
    {
        margin: 20px;
    }
    .top-head
    {
        margin: 20px 30px;
    }
    .section-body
    {
        margin: 60px 30px 40px;
    }
    .learn
    {
        margin: 60px 20px 10px 30px;
    }
    a
    {
        padding: 10px 20px;
        border-radius: 20px;

        &:hover
        {
            border: 2px solid map-get($colors , main );
            background: none;
            color: map-get($colors , main );
        }
    }
}

@mixin queries {
    @media (max-width:600px) {
        body
        {
            flex-direction: column;
            article
            {
                flex-direction: column;
                
                section
                {
                    padding: 20px;
                }
            }
        }
    }
}