@mixin queries {
    @media (max-width:600px) {
        main
        {
            grid-template-columns: repeat(1, 1fr);
        }

        footer
        {
            position: absolute;
            bottom: 1%;
            left: 0;
            right: 0;
        }
    }
}